{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page archive">
    {{- /* Title */ -}}
    <h2 class="single-title animated pulse faster">
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
    </h2>

    {{- /* Paginate */ -}}
    {{- if .Pages -}}
    {{- $pages := .Pages.GroupByDate "2006" -}}
    {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
    {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
    {{- $pages = .Paginate $pages -}}
    {{- end -}}
    {{- range $pages.PageGroups -}}
    <section class="recent-posts">
        <div class="section-title">
            <div class="row listrecent">
                {{- range .Pages -}}

                <div class="col-lg-4 col-md-6 mb-30px card-group">
                    <div class="card h-100">
                        <div class="maxthumb">
                            <a href="{{ .Permalink }}">
                                {{$images := .Resources.ByType "image"}}
                                {{with $images.GetMatch "*cover*" }}
                                <img class="img-fluid" src="{{ .Permalink }}" alt="A thumbnail image">
                                {{end}}
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="{{ .RelPermalink }}" class="archive-item-link">
                                    {{- .Title -}},  '{{- $.Site.Params.section.dateFormat | default "2006" | .Date.Format -}}
                                </a>
                            </h2>

                            <!-- <span class="archive-item-date">
                                {{- $.Site.Params.section.dateFormat | default "2006" | .Date.Format -}}
                            </span> -->
                        </div>

                    </div>
                </div>
                {{- end -}}
            </div>
        </div>
    </section>
    {{- end -}}
    {{- partial "paginator.html" . -}}
    {{- end -}}
</div>
{{- end -}}