{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
<div class="page single special">
    {{- /* Title */ -}}
    <h1 class="single-title animated pulse faster">
        {{- .Title -}}
    </h1>
    {{- /* Subtitle */ -}}
    {{- with $params.subtitle -}}
    <h2 class="single-subtitle">{{ . }}</h2>
    {{- end -}}

    {{- /* Content */ -}}
    <div class="content" id="content">
        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome |
        partial "function/content.html" | safeHTML -}}
        {{- $images := .Resources.ByType "image" -}}
        {{- range $images -}}
        <div>
            <figure>
                <a class="lightgallery" href="{{ .RelPermalink }}" title="{{ .Title }}"
                    data-thumbnail="{{ .RelPermalink }}" data-sub-html="<p>{{.Title}}</p>">
                    <img class="lazyload" src="{{ .RelPermalink }}" data-src="{{ .RelPermalink }}"
                        data-srcset="{{ .RelPermalink }}, {{ .RelPermalink }} 1.5x, {{ .RelPermalink }} 2x"
                        data-sizes="auto" alt="{{ .RelPermalink }}">
                </a>
            </figure>
        </div>
        {{- end -}}

    </div>

</div>
{{- end -}}